.make-pading-left {
    padding-left: 0px;
}

.make-pading-right {
    padding-right: 0px;
}

.form-input .form-group {
    min-height: 30px;
}
.btn-button{
    border:none !important;
}

@media screen and (min-width: 768px) {
    .bootbox-alert .modal-dialog {
        left:0px !important;
        right: auto;
        width: 600px;
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .bootbox-confirm .modal-dialog {
        left: 0px !important;
        right: auto;
        width: 600px;
        padding-top: 30px;
        padding-bottom: 30px;
    }
}
.start{
    color:red;
    font-weight:600;
}