<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
        <div class="menu">
            <div class="col-md-12">
                <ul>
                    <li><a href="index.html">Tổng quan </a></li>
                    <li><a href="thietlapkpicapnhanvien.html" class="current">Quản lý KPI</a></li>
                    <li><a href="danhsachcongviec.html">Marketing </a></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
        <button class="btn btn-default user" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="username">Nguyễn Vân Anh</span>
            <i class="fa fa-angle-down "></i>
        </button>
        <ul class="user dropdown-menu">
            <li>
                <span>
                    <i class="fa fa-phone"></i>
                    <span> Hotline 1800 6751</span>
                </span>
            </li>
            <li>
                <span>
                    <i class="fa fa-life-ring"></i>
                    <span> Đăng xuất</span>
                </span>
            </li>
        </ul>
    </div>
</nav>