<nav id="sidebar">
    <div class="sidebar-header">
        <h4>TỔNG QUAN</h4>
    </div>

    <div class="sidebar-muc">
        <h6>Thiết lập KPI</h6>
    </div>

    <ul class="list-unstyled components">
        <li class="active">
            <a href="thietlapkpicapnhanvien.html">
                <i class="fas fa-briefcase"></i>
                Cấp nhân viên
            </a>
            <a href="thietlapkpicapbophan.html">
                <i class="fas fa-briefcase"></i>
                Cấp bộ phận
            </a>
            <a href="danhsachKPI.html">
                <i class="fas fa-briefcase"></i>
                Danh sách KPI
            </a>
    </ul>

    <div class="sidebar-muc">
        <h6>Quản lý bộ phận Marketing</h6>
    </div>

    <ul class="list-unstyled components">
        <li class="active">
            <a href="#">
                <i class="fas fa-briefcase"></i>
                Tạo công việc
            </a>
            <a href="danhsachcongviec.html">
                <i class="fas fa-briefcase"></i>
                Danh sách công việc
            </a>
            <a href="ketquakpi.html">
                <i class="fas fa-briefcase"></i>
                Kết quả KPI
            </a>
        <li>
    </ul>
</nav>