.dropdown {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  padding: 0;
}

.noti-icon {
  position: absolute;
  top: 0px;
  right: 28px;
  width: 8px;
  height: 8px;;
}