body {
  font-family: 'Roboto', sans-serif;
}

/* Homepage */
/* ------------------------------------------------------------- */
#table-plan-list {
  table-layout: fixed
}

/* Set table header size */
#table-plan-list > thead th:nth-child(1) {
  width: 100px;
}
#table-plan-list > thead th:nth-last-child(1) {
  width: 150px;
}
#table-plan-list > thead th:nth-last-child(2) {
  width: 200px;
}

/* Set style for table data */
#table-plan-list > tbody td:nth-last-child(1) {
  padding: 5px;
}
#table-plan-list > tbody td:nth-last-child(2) {
  padding: 5px;
}
#table-plan-list > tbody td:nth-last-child(2) > div {
  height: 38px;
  font-size: inherit;
}

.table-filter label {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 100%;
  margin: 0;
}
/* ------------------------------------------------------------- */
/* End Homepage */


/* Plan detail */
/* ------------------------------------------------------------- */
.plan-description {
  min-height: 300px;
}
/* ------------------------------------------------------------- */
/* End Plan detail */