body {
  font-family: 'Roboto', sans-serif;
}

/* Homepage */
/* ------------------------------------------------------------- */

#table-plan-list {
  table-layout: fixed
}

/* Set table header size */
#table-plan-list > thead th:nth-child(1) {
  width: 80px;
}
#table-plan-list > thead th:nth-last-child(1) {
  width: 150px;
}
#table-plan-list > thead th:nth-last-child(2) {
  width: 200px;
}

/* Set style for table data */
#table-plan-list > tbody td:nth-last-child(1) {
  padding: 5px;
}
#table-plan-list > tbody td:nth-last-child(2) {
  padding: 5px;
}
#table-plan-list > tbody td:nth-last-child(2) > div {
  height: 38px;
  font-size: inherit;
}

/* ------------------------------------------------------------- */
/* End Homepage */