.ff0{font-family:sans-serif;visibility:hidden;}
@font-face{font-family:ff1;src:url(f1.woff)format("woff");}.ff1{font-family:ff1;line-height:1.106934;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff2;src:url(f2.woff)format("woff");}.ff2{font-family:ff2;line-height:1.106934;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff3;src:url(f3.woff)format("woff");}.ff3{font-family:ff3;line-height:1.106934;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff4;src:url(f4.woff)format("woff");}.ff4{font-family:ff4;line-height:1.106934;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff5;src:url(f5.woff)format("woff");}.ff5{font-family:ff5;line-height:0.910156;font-style:normal;font-weight:normal;visibility:visible;}
@font-face{font-family:ff6;src:url(f6.woff)format("woff");}.ff6{font-family:ff6;line-height:0.910156;font-style:normal;font-weight:normal;visibility:visible;}
.m1{transform:matrix(0.225000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.225000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.225000,0.000000,0.000000,0.250000,0,0);}
.m0{transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-ms-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);-webkit-transform:matrix(0.250000,0.000000,0.000000,0.250000,0,0);}
.v0{vertical-align:0.000000px;}
.ls0{letter-spacing:0.000000px;}
.sc_{text-shadow:none;}
.sc0{text-shadow:-0.015em 0 transparent,0 0.015em transparent,0.015em 0 transparent,0 -0.015em  transparent;}
@media screen and (-webkit-min-device-pixel-ratio:0){
.sc_{-webkit-text-stroke:0px transparent;}
.sc0{-webkit-text-stroke:0.015em transparent;text-shadow:none;}
}
.ws0{word-spacing:0.000000px;}
._0{width:1.768000px;}
._1{width:10.452000px;}
.fc0{color:rgb(0,0,0);}
.fs0{font-size:52.000000px;}
.fs1{font-size:60.000000px;}
.ya{bottom:9.812000px;}
.y3{bottom:14.296000px;}
.y2{bottom:39.729002px;}
.y10{bottom:137.177982px;}
.yf{bottom:182.906965px;}
.ye{bottom:200.543978px;}
.y0{bottom:201.000000px;}
.yd{bottom:227.992975px;}
.yc{bottom:255.441977px;}
.yb{bottom:282.890976px;}
.y9{bottom:310.339975px;}
.y8{bottom:352.084973px;}
.y7{bottom:377.517972px;}
.y6{bottom:404.073977px;}
.y5{bottom:438.496973px;}
.y4{bottom:463.500977px;}
.y1{bottom:494.933975px;}
.h7{height:28.948999px;}
.h4{height:33.432999px;}
.h6{height:36.105469px;}
.h3{height:46.337891px;}
.h5{height:53.466797px;}
.h2{height:58.866001px;}
.h1{height:307.000000px;}
.h0{height:595.349976px;}
.w3{width:45.349998px;}
.w5{width:133.000000px;}
.w4{width:220.649994px;}
.w2{width:396.500000px;}
.w1{width:789.500000px;}
.w0{width:842.000000px;}
.x9{left:14.004000px;}
.xd{left:15.052000px;}
.xe{left:16.569000px;}
.x11{left:18.187999px;}
.x12{left:19.425000px;}
.x0{left:22.500000px;}
.x8{left:25.500000px;}
.xa{left:66.049999px;}
.xb{left:72.412999px;}
.x3{left:76.210001px;}
.x4{left:118.678998px;}
.x1{left:147.329007px;}
.x13{left:158.249997px;}
.x5{left:169.430005px;}
.x6{left:264.731995px;}
.xc{left:285.200000px;}
.x7{left:383.074006px;}
.x2{left:416.450000px;}
.xf{left:548.200000px;}
.x10{left:679.700000px;}
@media print{
.v0{vertical-align:0.000000pt;}
.ls0{letter-spacing:0.000000pt;}
.ws0{word-spacing:0.000000pt;}
._0{width:2.357333pt;}
._1{width:13.936000pt;}
.fs0{font-size:69.333333pt;}
.fs1{font-size:80.000000pt;}
.ya{bottom:13.082667pt;}
.y3{bottom:19.061334pt;}
.y2{bottom:52.972003pt;}
.y10{bottom:182.903976pt;}
.yf{bottom:243.875954pt;}
.ye{bottom:267.391970pt;}
.y0{bottom:268.000000pt;}
.yd{bottom:303.990634pt;}
.yc{bottom:340.589302pt;}
.yb{bottom:377.187968pt;}
.y9{bottom:413.786634pt;}
.y8{bottom:469.446631pt;}
.y7{bottom:503.357296pt;}
.y6{bottom:538.765302pt;}
.y5{bottom:584.662631pt;}
.y4{bottom:618.001302pt;}
.y1{bottom:659.911967pt;}
.h7{height:38.598666pt;}
.h4{height:44.577332pt;}
.h6{height:48.140625pt;}
.h3{height:61.783854pt;}
.h5{height:71.289062pt;}
.h2{height:78.488002pt;}
.h1{height:409.333333pt;}
.h0{height:793.799967pt;}
.w3{width:60.466665pt;}
.w5{width:177.333333pt;}
.w4{width:294.199992pt;}
.w2{width:528.666667pt;}
.w1{width:1052.666667pt;}
.w0{width:1122.666667pt;}
.x9{left:18.672001pt;}
.xd{left:20.069333pt;}
.xe{left:22.092000pt;}
.x11{left:24.250666pt;}
.x12{left:25.900000pt;}
.x0{left:30.000000pt;}
.x8{left:34.000001pt;}
.xa{left:88.066665pt;}
.xb{left:96.550665pt;}
.x3{left:101.613334pt;}
.x4{left:158.238664pt;}
.x1{left:196.438676pt;}
.x13{left:210.999996pt;}
.x5{left:225.906673pt;}
.x6{left:352.975993pt;}
.xc{left:380.266667pt;}
.x7{left:510.765341pt;}
.x2{left:555.266667pt;}
.xf{left:730.933334pt;}
.x10{left:906.266667pt;}
}
